@charset "utf-8";

body {
  margin: 0;
}

p {
  background-color: pink;
  /* margin: 0 0 0 16px; */
  /* margin: 0; */
  /* margin: 0 0 0 auto; */
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border: 8px solid blue;
  padding: 16px;
}