@charset "utf-8";

body {
  margin: 0;
}

p {
  background-color: pink;
  margin: 0;
  width: 160px;
  height: 160px;
  border: 8px solid blue;
  /* padding-top: 16px; */
  /* padding-right: 16px; */
  /* padding-bottom: 16px; */
  /* padding-left: 16px; */
  padding: 16px;
}